@page
@model geoprofs.Pages.Verlofs.IndexModel
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    var userName = HttpContextAccessor.HttpContext.User.Identity.Name;
    var userRole = "Werknemer";

    if (HttpContextAccessor.HttpContext.User.IsInRole("Admin"))
    {
        userRole = "Admin";
    }
    else if (HttpContextAccessor.HttpContext.User.IsInRole("Werknemer"))
    {
        userRole = "Werknemer";
    }
    else if (HttpContextAccessor.HttpContext.User.IsInRole("Manager"))
    {
        userRole = "Manager";
    }
}

<h1>Verlof aanvraag keuring</h1>
<h4>Welkom, @userName! (Role: @userRole)</h4>

<table class="table" id="verlofTable">
    <thead>
        <tr>
            <th>
                Verlof Reden
            </th>
            <th>
                Verlof Omschrijving
            </th>
            <th>
                First Name
            </th>
            <th>
                Last Name
            </th>
            <th>
                Begin Verlof
            </th>
            <th>
                Eind Verlof
            </th>
            <th>
                Verlof Resterend
            </th>
            <th>
                Rol
            </th>
            <th>
                Verlof Status
            </th>
            <th>
                Approved of Denied
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Verlof)
        {
            <tr id="row-@item.VerlofId">
                @if (item.VerlofReden == 0)
                {
                    <td class="">Ziek</td>
                }
                else if (item.VerlofReden == 1)
                {
                    <td class="">Vakantie</td>
                }
                else if (item.VerlofReden == 2)
                {
                    <td class="">Dokter</td>
                }
                else
                {
                    <td class="">Tandarts</td>
                }
                <td>
                    @Html.DisplayFor(modelItem => item.VerlofOmschrijving)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginVerlof)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EindVerlof)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerlofResterend)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.rol)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VerlofStatus)
                </td>
                @{
                    string statusClass;
                    string statusText;

                    if (item.ApproveDeny == 0)
                    {
                        statusClass = "bg-success text-white";
                        statusText = "Approved";
                    }
                    else if (item.ApproveDeny == 1)
                    {
                        statusClass = "bg-danger text-white";
                        statusText = "Denied";
                    }
                    else
                    {
                        statusClass = "bg-warning text-white";
                        statusText = "In verwachting";
                    }
                }
                <td class="@statusClass">@statusText</td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.VerlofId">Edit</a>
                    <a asp-page="./Details" asp-route-id="@item.VerlofId">Details</a>
                    <a asp-page="./ApproveOfDenyVerlof" asp-route-id="@item.VerlofId">Approve or Deny verlof</a>
                    <a asp-page="./Delete" asp-route-id="@item.VerlofId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>


@section Scripts {
    <script>
        // Function to toggle the dropdown
        function toggleDropdown(element) {
            var dropdown = $(element).find('select');
            dropdown.toggle();
        }
    </script>
}